{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container">
        <section class="section register ">
            {% for message  in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        </section>
        <section class="section register ">
            {% for danger  in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ danger }}
                </div>
            {% endfor %}
        </section>
        <section class="section register d-flex flex-column align-items-center justify-content-center mb-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center mb-3">
                            <a href="{{ path ('app_front')}}" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">    4 Roues Assurances </span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Entrer Votre Email </h5>
                                   
                                </div>
                                {{ form_start(form,{attr:{'novalidate':'novalidate'}}) }}

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Votre  Email</label>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                    <div class="invalid-feedback">Entrer votre email s'il vous plait !</div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 success my-5 " type="submit">Envoyer </button>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                            Créer par <a href="https://bootstrapmade.com/"> Coding Squad </a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}