{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block contenu %}
<div class="container" style="width:40%; ">
    <h1 style="text-align:center;color:brown;">Inscription </h1>
       
        {{ form_start(registrationForm, {attr: {'novalidate': 'novalidate'}}) }}
        
        <fieldset>
        <legend style="text-align:center; color:orange;"> Ma Identité </legend>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        </fieldset>
        <fieldset>
        <legend style="Text-align:center;color:orange;"> Mes Cordonnées</legend>

        {{ form_row(registrationForm.cin,{label:'Numéro Carte D\'identité'}) }}
        {{ form_row(registrationForm.num_tel,{label:'Numéro de télephone '}) }}
         {{ form_row(registrationForm.adresse) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot De Passe '
         })}}
          {{ form_row(registrationForm.agreeTerms) }}

         </fieldset>
      
        <button type="submit"  class="btn btn-outline-success" style="width:40%;"> S'inscrire </button>
    {{ form_end(registrationForm) }}
    <div class="col-12">
                      <p class="small mb-0 my-3"> Vous avez deja un compte ? <a href="{{ path ('app_login')}}" > Me Connecter </a></p>
                    </div>
    </div>
{% endblock %}
