{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
  {{ form_errors(form) }}
   <table class="table table-striped table-borderless">
       <tbody>
          <tr>
                <td>{{ form_label(form.matricule, 'Matricule Vehicule :') }}</td>
                <td>{{ form_widget(form.matricule, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.matricule) }} </td>
            </tr>
              <tr>
                <td>{{ form_label(form.type, 'Type Vehicule :') }}</td>
                <td>{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.type) }} </td>
            </tr>
            <tr>
                <td>{{ form_label(form.marque, 'Marque Vehicule :') }}</td>
                <td>{{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.marque) }} </td>
            </tr>
          
            <tr>
                <td>{{ form_label(form.nb_ch, 'Nombre de chevaux :') }}</td>
                <td>{{ form_widget(form.nb_ch, {'attr': {'class': 'form-control'}}) }}</td>
                <td>   {{ form_errors(form.nb_ch) }} </td>
            </tr>
        </tbody>
    </table>
     <div style="center">
            {{ form_label(form.captcha, "Retaper les caractères de l'image :  ") }}
            {{ form_widget(form.captcha, {'attr': {'class': 'form-control'}}) }}
            </div><br>
    <div style="text-align: center;">
    <button style="background-color: #ff8521; color: white;" class="btn {{ button_color|default('btn-outline-primary') }} mt-3">{{ button_label|default('Enregistrer') }}</button>
    </div> 

{{ form_end(form) }}



