{% extends 'base2.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <div class="container">
    <div class="testbox">
    <div style=" width: 100%;
            padding: 20px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0 0 8px #006622;">
    {{form(searchForm)}}

    </div>
    </div>
        <h2 class="text-center mt-5 mb-3">Reclamation</h2>
        <div class="col-lg-20">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_reclamation_new') }}"> 
                    Créer une nouvelle réclamation
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered" >
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Objet</th>
                        <th colspan ="4" width="1100px" style="position: relative; left: 100px; top: 0px;*">Actions</th>
                    </tr>
                    
                 {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.id }}</td>
                        <td>{{ reclamation.description }}</td>
                        <td>{{ reclamation.objet }}</td>
                        
                        <td>
                            <form method="post" action="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                            
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">
                                    Lister
                                </a>

                                <a
                                    class="btn btn-outline-success"
                                    href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">
                                    Modifier
                                </a>
 
                                
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id) }}">
                                <button class="btn btn-outline-danger">Supprimer</button> 
                              
                               
                            </form>  
                        </td> 
                    </tr>
                 {% else %}
                   <tr>
                      <td colspan="6">no records found</td>
                </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}



