{% extends 'base2.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
        <h2 class="text-center mt-5 mb-3">Reclamation</h2>
        <div class="col-lg-20">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_reclamation_new') }}"> 
                    Créer une nouvelle réclamation
                </a>
            </div>
            <input type="text" id="search" class="form-control" placeholder="Search">
           
            <br>
            <br>
            <div class="card-body">
                <table border ="1" id="t" class="table table-bordered" >
                   <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Objet</th>
                        <th>Description</th>    
                        <th colspan ="4" width="1100px" style="position: relative; left: 100px; top: 0px;*">Actions</th>
                    </tr>
                </thead>
                <tbody id="all">
                 {% for reclamation in reclamations %}
                  
                    <tr>
                        <td>{{ reclamation.id }}</td>
                        <td>{{ reclamation.objet }}</td>
                        <td>{{ reclamation.description }}</td>                     
                        <td>
                            <form method="post" action="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                            
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">
                                    Lister
                                </a>

                                <a
                                    class="btn btn-outline-success"
                                    href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">
                                    Modifier
                                </a>
 
                                
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id) }}">
                                <button class="btn btn-outline-danger">Supprimer</button> 
                              
                               
                            </form>  
                        </td> 
                    </tr>
                 {% else %}
                   <tr>
                      <td colspan="6">no records found</td>
                </tr>
                    {% endfor %}
                    </tbody>
                 <tbody id="searchtab">
                 </tbody>
                </table>         
            </div>
        </div>
    </div>
        {{ knp_pagination_render(reclamations) }}
{% endblock %}
{% block script %}
<h1>Hi</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
$( document ).ready(function() {
    console.log("tesr")
  $("#search").keyup(function(e){
    console.log("tesr")
/* La variable value va prendre la valeur insérer dans le champ de texte
afin d’effectuer la recherche */
var value = $(this).val();
/* Ajax est lancé lors du remplissage du champ texte dont l’id est
« search » pour faire la recherche */
$.ajax({
/* l’url est une chaine de caractères contenant l’adresse où la requête est
envoyée */
url : "{{ path('searchReclamationx') }}",
/* La méthode utilisée pour transférer les données est GET */
type :'GET',
/*Ici search value va prendre la chaine entrée par un utilisateur dans la
zone de recherche et sera placée après l’url */
data: {
 'searchValue' : value
},
/*Cette fonction permet de vider le contenu du tableau pour recevoir le
nouveau contenu*/
success : function(retour){
if(retour){
$('#t tbody#searchtab').empty();
$.each(JSON.parse(retour), function(i, obj) {
$('#t tbody#all').hide();
$('#t tbody#searchtab').append('<tr><td> '+obj.id+ '</td><td> '+obj.objet+' </td><td> '+obj.description+' </td><td> '+
"<a href='app_reclamation_edit/" +obj.id+"'>modifier</a></br>"+
"<a href='app_reclamation_delete/"+obj.id+"'>supprimer</a></td></tr>"); 
});
} 
else
{
$('#t tbody#all').show();
$('#t tbody#searchtab').empty();
$('#t tbody#searchtab').fadeIn('fast');
}
},
});
return false;
});
});
</script>
{% endblock %}
