{% extends 'base2.html.twig'%}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">


		<table class="table table-borderless datatable">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Lieux</th>
					
					<th scope="col">EXpert</th>
					<th scope="col">Mecanicien</th>
					<th scope="col">rapport</th>
					<th scope="col">Actions</th>


				</tr>
			</thead>
			<tbody>

				<tr>
					{% for rendezvous in rendezvouss %}

						<td>{{rendezvous.id}}</td>
						<td>
							{{rendezvous.date.format('Y-m-d H:i:s')}}
						</td>
						<td>{{rendezvous.lieu}}</td>
						
						<td>{{rendezvous.getIdExpert()}}</td>
						<td>{{rendezvous.getIdMecanicien()}}</td>
						<td>{{rendezvous.type}}</td>

						<td>
							<a href="{{path ('app_delete',{id:rendezvous.id} )}}">delete</a>
						</td>
						<td>
							<a href=" {{path ('app_addrendez_vous',{id:rendezvous.id} )}}  ">edit</a>
						</td>
					</tr>
				</tr>

			</tbody>
		{% endfor %}
	</tbody>
</table>
<div class="row">
	<a class="btn btn-primary rounded-pill" href="{{path ('app_addrendez_vous')}}">
		Ajouter</a>
</div></div>{% endblock %}
