{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{{ form_start(form, {'attr': {'id': form_id, 'novalidate': 'novalidate'} }) }}

 <button type="button" class="btn btn-secondary mt-2 mb-2" id="add-devis-item">Add Devis Item</button>
    <div class="form-group">
        
    </div>

    

    <h2>Devis Items</h2>
    <div id="devis-items">
        {% for item in form.items %}
        <div class="devis-item">
            {{ form_label(item.description) }}
            {{ form_widget(item.description) }}
            {% if form_errors(item.description) %}
                <div class="alert alert-danger">
                    {{ form_errors(item.description) }}
                </div>
            {% endif %}
        

           
            <button type="button" class="btn btn-danger remove-devis-item mt-2">Remove Item</button>
        </div>
          <hr>
    {% endfor %}
    </div>
<br>
    <button type="submit" class="btn btn-primary">Create Devis</button>

    {{ form_end(form) }}