{{ form_start(form, {'attr': {'id': form_id, 'novalidate': 'novalidate'} }) }}
    {% for item in form.items %}
        <div class="devis-item">
            {{ form_label(item.description) }}
            {{ form_widget(item.description) }}
            {% if form_errors(item.description) %}
                <div class="alert alert-danger">
                    {{ form_errors(item.description) }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Create Devis</button>
{{ form_end(form) }}
