

{% extends 'base2.html.twig' %}

{% block title %}Locale index{% endblock %}
{% block Sidebar %} 
<!-- ======= Sidebar ======= -->
		
			<aside id="sidebar" class="sidebar">

				<ul class="sidebar-nav" id="sidebar-nav">


					<!-- End Forms Nav -->
					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_devis_index')}}">
							<i class="bi bi-clipboard-data"></i>
							<span>Devis</span>
						</a>
					</li>

					<!-- End Tables Nav -->

					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_locale_index')}}">
							<i class="bi bi-house-gear
                            
                            q"></i>
							<span>Locale</span>
						</a>
					</li>
					<!-- End Icons Nav -->
                    <li class="nav-item">
						<a class="nav-link " href="{{ path('app_devis_index')}}">
							<i class="bi bi-calendar2-date"></i>
							<span>Rendez_Vous</span>
						</a>
					</li>
					<!-- End Icons Nav -->
				
					<li class="nav-heading">
						Pages</li>

					<li class="nav-item">
						<a class="nav-link collapsed" href="users-profile.html">
							<i class="bi bi-person"></i>
							<span>Profile</span>
						</a>
					</li>
					<!-- End Profile Page Nav -->


					<li class="nav-item">
						<a class="nav-link collapsed" href="pages-login.html">
							<i class="bi bi-box-arrow-in-right"></i>
							<span>Logout</span>
						</a>
					</li>
					<!-- End Login Page Nav -->


				</ul>

			</aside>
			<!-- End Sidebar-->
{% endblock %}
{% block body %}
 <div class="container">
    <h1>Locale index</h1>
	 <input type="text" id="search" class="form-control" placeholder="Search">

   <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_locale_new') }} "> 
                    créer un nouveau locale
                </a>
            </div>
            <div class="card-body">
    <table  id="t" 	class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Consulter</th>
				<th>Modifier</th>
				<th>Supprimer</th>
            </tr>
        </thead>
		<tbody id="all">
        {% for locale in locales %}
            <tr>
                <td>{{ locale.id }}</td>
                <td>{{ locale.adresse }}</td>

				 <td>
                 <form method="post" action="{{ path('app_locale_delete', {'id': locale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this locale?');">
                    <a  class="btn btn-outline-info" href="{{ path('app_locale_show', {'id': locale.id}) }}"><i class="bi bi-eye-fill"></i></a>
				</td>
                 <td >
                <a class="btn btn-outline-success " href="{{ path('app_locale_edit', {'id': locale.id}) }}"><i class="bi bi-pencil-square"></i></a>
              	</td>

				<td>
                     <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locale.id) }}">
                        <button class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
                  </form>
				  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
		<tbody id="searchtab">
</tbody>

    </table>
</div>
</div>

{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"> </script>

<script>
$( document ).ready(function() {
	var searchRequest = null;
        $("#search").keyup(function(e){
			
/* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
          var value = $(this).val();
		 
/* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
             searchRequest =$.ajax({
/* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url : "{{ path('localeListx') }}",
				
/* La méthode utilisée pour transférer les données est GET */
                type : "GET", 
/*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */                
                data: {
                        'searchValue' : value
                    },
					
/*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                 
		success: function(response) {
			
                  if(response){
  			$('#t tbody#searchtab').empty();
  			$.each( response, function(i, obj) {
				 console.log(obj.id);
				 console.log(obj);
  			$('#t tbody#all').hide();
  			 var formHTML = '<form method="post" action="' + "{{ path('app_locale_delete', {'id':'+ locale.id+'}) }}" + '" onsubmit="return confirm(/'Are you sure you want to delete this locale?/');">';
            formHTML += '<a class="btn btn-outline-info" href="{{ path('app_locale_show', {'id':'+ obj.id+'}) }}"><i class="bi bi-eye-fill"></i></a>';
            formHTML += '<a class="btn btn-outline-success" href="{{ path('app_locale_edit', {'id':'+ obj.id+'}) }}"><i class="bi bi-pencil-square"></i></a>';
            formHTML += '<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ '+obj.id+') }}">';
            formHTML += '<button class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>';
            formHTML += '</form>';
            $('#t tbody#searchtab').append('<tr><td> ' + obj.id + ' </td><td> ' + obj.adresse + ' </td><td> ' + formHTML + '</td></tr>');
});
                  }
                  else
                  {
                     $('#t tbody#all').show();
   					 $('#t tbody#searchtab').empty();
   					$('#t tbody#searchtab').fadeIn('fast');
                     }
 },

            error: function(xhr) {
				
                console.log('Error: ' + xhr.statusText);
            }
        });
        return false;
    });
    });
        </script>

{% endblock %}

