{% extends 'base.html.twig' %}

{% block title %}QR Code{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Coup2Pouce Innovation Digitale QR Code ! ✅</h1>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_row(form.objet, {'attr': {'class': 'form-control', 'placeholder': 'Objet'}}) }}
            {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'description'}}) }}
            <hr>
            <button type="submit" class="btn btn-success btn-block">Générer un QR Code</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            {% if qrCode %}
                <img src="{{ qrCode }}" alt="qr-code">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

