


{{ form_start(form, {'attr': {'id': form_id}}) }}


    <div class="form-group">
        
    </div>

    

    <h2>Devis Items</h2>
    <div id="devis-items">
        <div class="devis-item">
            {% for item in form.items %}
        <div class="devis-item">
            {{ form_row(item.description) }}
            {{ form_row(item.quantite) }}
            {{ form_row(item.unitPrice) }}
            {{ form_row(item.totalPrice) }}
            <button type="button" class="btn btn-danger remove-devis-item">Remove Item</button>
        </div>
    {% endfor %}
        </div>
    </div>

    <button type="button" class="btn btn-secondary mt-2" id="add-devis-item">Add Devis Item</button>

    <hr>

    <button type="submit" class="btn btn-primary">Create Devis</button>

    {{ form_end(form) }}

    <script>
        var devisItemTemplate = `
            <div id="devis_items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
                {{ form_errors(form.items) }}
                {% for item in form.items %}
                    {{ form_row(item) }}
                {% endfor %}
            </div>
        `;

        $('#add-devis-item').click(function() {
            $('#devis-items').append(devisItemTemplate.replace(/__name__/g, $('#devis-items .devis-item').length));
        });

        $('#devis-items').on('click', '.remove-devis-item', function() {
            $(this).closest('.devis-item').remove();
        });
    </script>

