{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Devis</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.client, 'Client') }}
        {{ form_widget(form.client, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.date, 'Date') }}
        {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <h2>Devis Items</h2>
    <div id="devis-items">
        <div class="devis-item">
            {{ form_row(form.items.0.description) }}
            {{ form_row(form.items.0.quantity) }}
            {{ form_row(form.items.0.unitPrice) }}
            {{ form_row(form.items.0.totalPrice) }}
        </div>
    </div>

    <button type="button" class="btn btn-secondary mt-2" id="add-devis-item">Add Devis Item</button>

    <hr>

    <button type="submit" class="btn btn-primary">Create Devis</button>

    {{ form_end(form) }}

    <script>
        var devisItemTemplate = `
            <div id="devis_items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
                {{ form_errors(form.items) }}
                {% for item in form.items %}
                    {{ form_row(item) }}
                {% endfor %}
            </div>
        `;

        $('#add-devis-item').click(function() {
            $('#devis-items').append(devisItemTemplate.replace(/__name__/g, $('#devis-items .devis-item').length));
        });

        $('#devis-items').on('click', '.remove-devis-item', function() {
            $(this).closest('.devis-item').remove();
        });
    </script>
{% endblock %}
