{% extends 'base.html.twig' %}

{% block body %}
  <h1>Devis</h1>
  <p><strong>ID:</strong> {{ devi.id }}</p>
  <p><strong>Date:</strong> {{ devi.date|date('d/m/Y') }}</p>
  <p><strong>Mécanicien:</strong> {{ devi.idMecanicien.nom }} {{ devi.idMecanicien.prenom }}</p>
  <p><strong>Expert:</strong> {{ devi.nom_expert }} {{ devi.prenom_expert }}</p>
  <h2>Items</h2>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in devi.items %}
        <tr>
          <td>{{ item.description }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.unitPrice }} €</td>
          <td>{{ item.totalPrice }} €</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3" class="text-right font-weight-bold">Total HT:</th>
        <td>{{ devi.totalPrice }} €</td>
      </tr>
    </tfoot>
  </table>
{% endblock %}
