{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
  {{ form_errors(form) }}
     <table class="table table-striped table-borderless">
       <tbody>
          <tr>
                <td>{{ form_label(form.nomclient_e, 'Nom Client :') }}</td>
                <td>{{ form_widget(form.nomclient_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.nomclient_e) }} </td>
            </tr>
            <tr>
                <td>{{ form_label(form.prenomclient_e, 'Prenom Client :') }}</td>
                <td>{{ form_widget(form.prenomclient_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.prenomclient_e) }} </td>
            </tr>
            <tr>
                <td>{{ form_label(form.typevehicule_e, 'Type Vehicule :') }}</td>
                <td>{{ form_widget(form.typevehicule_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.typevehicule_e) }} </td>
            </tr>
            <tr>
                <td>{{ form_label(form.marquevehicule_e, 'Marque Vehicule:') }}</td>
                <td>{{ form_widget(form.marquevehicule_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.marquevehicule_e) }} </td>
            </tr>
                <tr>
                <td>{{ form_label(form.assuranceclient_e, 'Assurance Client:') }}</td>
                <td>{{ form_widget(form.assuranceclient_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.assuranceclient_e) }} </td>
            </tr>
                <tr>
                <td>{{ form_label(form.adresseclient_e, 'Adresse Client:') }}</td>
                <td>{{ form_widget(form.adresseclient_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.adresseclient_e) }} </td>
            </tr>
              <tr>
                <td>{{ form_label(form.emplacementaccid, 'Emplacement Accident:') }}</td>
                <td>{{ form_widget(form.emplacementaccid, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.emplacementaccid) }} </td>
            </tr>
              <tr>
                <td>{{ form_label(form.photoaccid, 'Photo Accident:') }}</td>
                <td>{{ form_widget(form.photoaccid, {'attr': {'class': 'form-control' ,'style': 'max-width:auto'}}) }}</td>
                <td>{{ form_errors(form.photoaccid) }}</td>
            </tr>
              <tr>
                <td>{{ form_label(form.descriptiondegat, 'Description Degat:') }}</td>
                <td>{{ form_widget(form.descriptiondegat, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.descriptiondegat) }} </td>
            </tr>
            <tr>
                <td>{{ form_label(form.observations, 'Observations :') }}</td>
                <td>{{ form_widget(form.observations, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.observations) }} </td>
            </tr>
            <tr>
                <td>{{ form_label(form.numcontrat_e, 'Numéro Contrat :') }}</td>
                <td>{{ form_widget(form.numcontrat_e, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.numcontrat_e) }} </td>
            </tr>
             <tr>
                <td>{{ form_label(form.mail, 'Email :') }}</td>
                <td>{{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.mail) }} </td>
            </tr>
             <tr>
                <td>{{ form_label(form.Date_creation, 'Date_Création :') }}</td>
                <td>{{ form_widget(form.Date_creation, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.Date_creation) }} </td>
            </tr>
             <tr>
                <td>{{ form_label(form.signatureId, 'Signature Id:') }}</td>
                <td>{{ form_widget(form.signatureId, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.signatureId) }} </td>
            </tr>
             <tr>
                <td>{{ form_label(form.documentId, 'Document Id:') }}</td>
                <td>{{ form_widget(form.documentId, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.documentId) }} </td>
            </tr>
             <tr>
                <td>{{ form_label(form.signerId, 'Signer Id:') }}</td>
                <td>{{ form_widget(form.signerId, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.signerId) }} </td>
            </tr>
               <tr>
                <td>{{ form_label(form.PdfSansSignature, 'Pdf Sans Signature:') }}</td>
                <td>{{ form_widget(form.PdfSansSignature, {'attr': {'class': 'form-control'}}) }}</td>
                <td>  {{ form_errors(form.PdfSansSignature) }} </td>
            </tr>
        </tbody>
    </table>
    <div style="center">
            {{ form_label(form.captcha, "Retaper les caractères de l'image :  ") }}
            {{ form_widget(form.captcha, {'attr': {'class': 'form-control'}}) }}
            </div><br>
    <div style="text-align: center;">
    <button style="background-color: #ff8521; color: white;" class="btn {{ button_color|default('btn-outline-primary') }} mb-3">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}

     
