{% extends 'base.html.twig' %}

{% block title %}Constat index{% endblock %}

{% block body %}
<div class="container">
        <h2 class="text-center mt-5 mb-3">Constat</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomclient_e</th>
                <th>Prenomclient_e</th>
                <th>Typevehicule_e</th>
                <th>Marquevehicule_e</th>
                <th>Assuranceclient_e</th>
                <th>Adresseclient_e</th>
                <th>Emplacementaccid</th>
                <th>Photoaccid</th>
                <th>Descriptiondegat</th>
                <th>Observations</th>
                <th>Numcontrat_e</th>
                <th colspan ="3" width="240px" style="position: relative; left: 80px; top: 0px;" >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constat in constats %}
            <tr>
                <td>{{ constat.id }}</td>
                <td>{{ constat.nomclientE }}</td>
                <td>{{ constat.prenomclientE }}</td>
                <td>{{ constat.typevehiculeE }}</td>
                <td>{{ constat.marquevehiculeE }}</td>
                <td>{{ constat.assuranceclientE }}</td>
                <td>{{ constat.adresseclientE }}</td>
                <td>{{ constat.emplacementaccid }}</td>
                <td>{{ constat.photoaccid }}</td>
                <td>{{ constat.descriptiondegat }}</td>
                <td>{{ constat.observations }}</td>
                <td>{{ constat.numcontratE }}</td>
                <td>
                 <a class="btn btn-outline-info" href="{{ path('app_constat_show', {'id': constat.id}) }}">Lister</a>
                 <td><a class="btn btn-outline-success" href="{{ path('app_constat_edit', {'id': constat.id}) }}">Modifier</a></td>
                 <td><a class="btn btn-outline-danger" href="{{ path('app_constat_new') }}">Ajouter</a></td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Table vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
