{% extends 'base2.html.twig' %}

{% block title %}Constat{% endblock %}
{% block sidebar%}
	<aside id="sidebar" class="sidebar">

				<ul class="sidebar-nav" id="sidebar-nav">

				
					<!-- End Dashboard Nav -->
					<li class="nav-item">
						<a class="nav-link " href="{{ path ('app_constat_index') }}">
							<i class="bi bi-newspaper"></i>
							<span>Constat</span>
						</a>
					</li>

                    <li class="nav-item">
						<a class="nav-link " href="{{ path ('app_vehicule_index') }}">
							<i class="bi bi-newspaper"></i>
							<span>Vehicule</span>
						</a>
					</li>

					<!-- End Components Nav -->
					<li class="nav-item">
						<a class="nav-link " href="index.html">
							<i class="bi bi-people"></i>
							<span>Client</span>
						</a>
					</li>

					<!-- End Forms Nav -->
					<li class="nav-item">
						<a class="nav-link " href="index.html">
							<i class="bi bi-person-workspace"></i>
							<span>Expert</span>
						</a>
					</li>

					<!-- End Tables Nav -->
					
					<li class="nav-heading">Pages</li>

					<li class="nav-item">
						<a class="nav-link collapsed" href="users-profile.html">
							<i class="bi bi-person"></i>
							<span>Profile</span>
						</a>
					</li>
					<!-- End Profile Page Nav -->


					<li class="nav-item">
						<a class="nav-link collapsed" href="pages-login.html">
							<i class="bi bi-box-arrow-in-right"></i>
							<span>Logout</span>
						</a>
					</li>
					<!-- End Login Page Nav -->


				</ul>

			</aside>
			<!-- End Sidebar-->
			{% endblock %}
{% block body %}
<div class="container">
        <h2 class="text-center mt-5 mb-3">Liste Constat</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_constat_index') }}"> Retour </a>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ constat.id }}</td>
            </tr>
            <tr>
                <th>Nomclient_e</th>
                <td>{{ constat.nomclientE }}</td>
            </tr>
            <tr>
                <th>Prenomclient_e</th>
                <td>{{ constat.prenomclientE }}</td>
            </tr>
            <tr>
                <th>Typevehicule_e</th>
                <td>{{ constat.typevehiculeE }}</td>
            </tr>
            <tr>
                <th>Marquevehicule_e</th>
                <td>{{ constat.marquevehiculeE }}</td>
            </tr>
            <tr>
                <th>Assuranceclient_e</th>
                <td>{{ constat.assuranceclientE }}</td>
            </tr>
            <tr>
                <th>Adresseclient_e</th>
                <td>{{ constat.adresseclientE }}</td>
            </tr>
            <tr>
                <th>Emplacementaccid</th>
                <td>{{ constat.emplacementaccid }}</td>
            </tr>
            <tr>
                <th>Photoaccid</th>
                <td>{{ constat.photoaccid }}</td>
            </tr>
            <tr>
                <th>Descriptiondegat</th>
                <td>{{ constat.descriptiondegat }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ constat.observations }}</td>
            </tr>
            <tr>
                <th>Numcontrat_e</th>
                <td>{{ constat.numcontratE }}</td>
            </tr>
             <tr>
             <td><a class="btn btn-outline-success" href="{{ path('app_constat_edit', {'id': constat.id}) }}">Modifier</a></td>

            <td>{{ include('constat/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}

