{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block contenu %}
<main id="main" class="main">
      <section class="section container">
      
<a  class="btn btn-primary " style="float:right;" href="{{path("cart_delete_all")}}">Se Déconnecter</a>
   <div class="d-flex center">
    <div class="row">
        <div class="col-lg-13">

          <div class="card">
            <div class="card-body">
              <h5 class="alert alert-warning alert-dismissible fade show">Bienvenue à votre panier</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Offre</th>
                <th>Prix</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for offre in dataPanier %}
                <tr>
                    <th>{{ offre.produit.titre }}</th>
                    <td class="text-end">{{ offre.produit.prix }} DT</td>
                    <td>
                        <a href="{{path("cart_remove", {id: offre.produit.id})}}" class="btn btn-danger">
                            <i class="bi bi-cart-dash"></i>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total }} DT</td>
                <td>
                    
                    
                </td>
            </tr>
        </tfoot>
    </table>
    <a  class="btn btn-primary mr-2" href="{{ path('app_offrefront_index') }}">Choisir Des Offres</a>
    <a  class="btn btn-primary mr-2" href="{{ path('cart_pay_all') }}">Passer au Paiement</a>
            </div>
          </div>

        </div>

        
      </div>
    </section>
    </div>
   </main> 
{% endblock %}
