{% extends 'base2.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
   <main id="main" class="main">

    <div class="pagetitle">
      <h1>Table Des Contrats</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Accueil</li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Table Des Contrats</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bienvenue</h5>

            {# <h1>Table Des Offres</h1> #}

    <table class="table table-striped">
        <thead class=""thead-dark"">
            <tr>
                 <th>Id</th>
                <th>Validitedu</th>
                <th>Validiteau</th>
                <th>Photo_cin</th>
                <th>Offres Choisis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.validitedu ? contrat.validitedu|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.validiteau ? contrat.validiteau|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.photoCin }}</td>
                <td></td>
                <td>
                     <a class="btn btn-primary mr-8" href="{{ path('app_contrat_show', {'id': contrat.id}) }}">Afficher</a>
                    {# <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">edit</a> #} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_offre_new') }}">Create new</a> #}

    {# <a href="{{ path('app_offre_index') }}"></a> #}
  
            </div>
          </div>

        </div>

        
      </div>
    </section>

  </main>
{% endblock %}
