<style>
    body {
        background-color: #FFFFFF;
        margin: 50px;
        font-family: Arial, sans-serif;
    }
    h1 {
        color: #ff5821;
        font-style: italic normal;
        text-align: center;
    }
    header {
        padding: 10px;
        background-color: #ff5821;
        color: #FFFFFF;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: #f2f2f2;
        font-size: 12px;
        text-align: center;
        border-top: 1px solid #ddd;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: grey;
        color: black;
        text-align: center;
    }
    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
    .text-right {
        text-align: center!important;
    }
    .font-weight-bold {
        font-weight: bold!important;
    }
    .info{
        text-align:center;
    }
</style>

<h1 class="display-4"  style="color:#ff5821">ATTESTAION D'ASSURANCE</h1>
<img src="C:/xampp/htdocs/PiDEV_V12/PiDEV_V06/PiDEV_V06/public/assets2/img/logo.PNG" type="image/png" width="100" height="100">
<p><strong>4RouesAssurances</strong> </p>
<p>Aveune Habib Bourguiba 2083 Cité </p>
<p> El GHazala - Ariana </p>
<p>  +216 70 300 300 </p>
<p>  4rouesassurances@gmail.com </p>
</br>
</br>
</br>
</br>
</br>

  <p class="info" ><strong>ID De Contrat:</strong> {{ contrat.id }}</p>
  <p class="info" ><strong>Client:</strong> {{ contrat.nom_client ~ " " ~ contrat.prenom_client }}</p>
<p class="info" ><strong>Matricule De Voiture:</strong> {{ contrat.matricule_vehicule ~ " " ~ contrat.type_vehicule }}</p>
<p class="info" ><strong>Numero Carte D'identité </strong> {{ contrat.cin_client }}</p>
<p class="info"><strong>Validité du:</strong> {{ contrat.validitedu|date('d/m/Y') }}</p>
<p class="info"><strong>Validité au:</strong> {{ contrat.validiteau|date('d/m/Y') }}</p>
</br>
</br>
</br>
  <table class="infotab"  border="1" >
    <thead>
      <tr>
        <th>Offre</th>
        <th>Prix</th>
         
      </tr>
    </thead>
    <tbody>
        <tr>
         {# <td>{% for offre in contrat.getIdOffre() %}
                <tr>
          <td>{{ offre.titre }}</td>
          <td>{{ offre.prix }}</td>

        </tr>
                {% endfor %}
                </td> #}
          {# <td>{{ contrat.titre_offre }}</td>
          <td>{{ contrat.prix_offre }}</td> #}
        </tr>
    </tbody>
  </table>
  