{% extends 'base2.html.twig' %}

<<<<<<< HEAD
{% block titre %} {{parent()}}Utlisateurs{% endblock %}

{% block contenu %}
<main >
<section class="section">
      <div class="row">
       
    <h1 style="color: #012970;font-family: "Nunito", sans-serif; margin-top:40px;"> Liste des  Utilisateurs </h1>
         <a href="{{ path('app_user_new') }}"> <button  class="btn btn-outline-info float-left mb-3 " width="40%">Ajouter un utilisateur </button></a>
     <a href="{{ path('app_user_search') }}"> <button  class="btn btn-outline-success float-right mb-3 " width="40%">Rechercher utilisateur  </button></a>
    <table class="table table-striped">
         <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Email</th>
                <th scope="row">Roles</th>
                <th scope="row">Nom</th>
                <th scope="row">Prenom</th>
                <th scope="row">Adresse</th>
                <th scope="row">Cin</th>
                <th scope="row">Numéro Telephone </th>
=======
{% block title %} Les Utlisateurs {% endblock %}

{% block contenu %}
    <h1 class="text-center mt-5 mb-3">Liste des Utlisateurs </h1>

    <table class="table table-bordred ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numéro Télephone </th>
                <th>CIN</th>
                <th>Adresse</th>
>>>>>>> 5a7565d83818f1db89ef814a2b2e450ef201f481
                <th width="240px">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
<<<<<<< HEAD
                <td>{% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EXPERT" %}
                                Expert 
                            {% elseif role == "ROLE_MECANICIEN" %}
                               Mécanicien 
                            {% elseif role == "ROLE_ASSUREUR" %}
                              Assureur 
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
               </td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.numTel }}</td>
                <td>
                    
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><button  class="btn btn-outline-success"> Modifier</button> </a>
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"> <button class="btn btn-outline-danger">Supprimer </button></a>
=======
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.numTel }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.adresse }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"> <button  class="btn btn-outline-success">Modifier </button> </a>
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"> <button class="btn btn-outline-danger">Supprimer</button> </a>
>>>>>>> 5a7565d83818f1db89ef814a2b2e450ef201f481
                </td>
            </tr>
        {% else %}
            <tr>
<<<<<<< HEAD
                <td colspan="10">Pas d'utilisateurs </td>
=======
                <td colspan="10">Pas d'utlisateurs </td>
>>>>>>> 5a7565d83818f1db89ef814a2b2e450ef201f481
            </tr>
        {% endfor %}
        </tbody>
    </table>

<<<<<<< HEAD
  
    </div>
    
    <span><a href="{{ path('app_back')}}" >Dashboard</a></span>
    </div>
    </div>
    </div>
    </section>
    </main>  
{% endblock %}
=======
    <a href="{{ path('app_user_new') }}"><button class="btn btn-outline-primary"> Ajouter un nouveau Utilisateur</button> </a>
{% endblock %}
>>>>>>> 5a7565d83818f1db89ef814a2b2e450ef201f481
