{% extends 'base2.html.twig' %}

{% block title %} Les Utlisateurs {% endblock %}

{% block contenu %}
    <h1 class="text-center mt-5 mb-3">Liste des Utlisateurs </h1>

    <table class="table table-bordred ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numéro Télephone </th>
                <th>CIN</th>
                <th>Adresse</th>
                <th width="240px">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.numTel }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.adresse }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"> <button  class="btn btn-outline-success">Modifier </button> </a>
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"> <button class="btn btn-outline-danger">Supprimer</button> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'utlisateurs </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}"><button class="btn btn-outline-primary"> Ajouter un nouveau Utilisateur</button> </a>
{% endblock %}
