{% extends 'base2.html.twig' %}
{% block contenu %}
<div>
						
						|
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>


	<h1>
		Recherche :</h1>
</br>
<input type="text" id="searchxx" class="form-control" placeholder="recherche selon Email">
<br/>
<div>
	<table id="t" class="table table-hover ">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>prenom</th>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody id="all">
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td> {{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.nom }}</td>
					<td>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}"><button  class="btn btn-outline-success"> Modifier</button>  </a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
		<tbody id="searchtab"></tbody>
	</table>

</div>


<script src="{{ asset('https://code.jquery.com/jquery-3.5.1.min.js') }}"></script>

<script>
	$(document).ready(function () {
$("#searchxx").keyup(function (e) { /* La variable value va prendre la valeur insérer dans le champ de texte
            afin d'effectuer la recherche */
var value = $(this).val();
/* Ajax est lancé lors du remplissage du champ texte dont l'id est
            « search » pour faire la recherche */

$.ajax({ /* l’url est une chaine de caractères contenant l’adresse où la requête est
                envoyée */
url: "{{ path('recherche_ajax') }}",
/* La méthode utilisée pour transférer les données est GET */
type: 'GET',
/*Ici search value va prendre la chaine entrée par un utilisateur dans la
                zone de recherche et sera placée après l’url */
data: {
'searchValue': value
},
/*Cette fonction permet de vider le contenu du tableau pour recevoir le
                nouveau contenu*/
success: function (resultats) {
if (resultats) {
$('#t tbody#searchtab').empty();
$.each(resultats, function (i, obj) {
$('#t tbody#all').hide();
$('#t tbody#searchtab').append('<tr><td> ' + obj.id + '</td><td> ' + obj.email + '</td><td> ' + obj.roles + '</td><td> ' + obj.prenom + '</td><td> ' + obj.nom + '</td><td><img src="/uploads/user/' + obj.id + '/edit">Modifier </a><a href="');
});
} else {
$('#t tbody#all').show();
$('#t tbody#searchtab').empty();
$('#t tbody#searchtab').fadeIn('fast');
}
}
});
return false;
});

});
</script>{% endblock %}